
/* Base styling */
:root {
    --primary-color: #4F46E5;
    --primary-hover: #4338CA;
    --success-color: #10B981;
    --error-color: #EF4444;
    --warning-color: #F59E0B;
    --text-primary: #111827;
    --text-secondary: #4B5563;
    --text-light: #6B7280;
    --border-color: #DCDFE4;
    --background-light: #F9FAFB;
    --background-white: #FFFFFF;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --border-radius: 8px;
    --transition-speed: 0.2s;
}




/*Real Homes admin adjusments*/

.post-type-property  .column-property-thumbnail img{
	width: 130px;
	height: auto;
}



/*Plugin CSS*/







.mlsfield_import_title {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
}

.mandatory_fields_wrapper_exp,
.mls_mandatory_fields{
	margin: 10px 0px 5px 0px;
}

.mls_mandatory_fields{
	color: #888;
	margin-bottom: 10px;
	max-width: 600px;
}
.mandatory_fields_wrapper_exp{
	color: #888;
	max-width: 600px;
}

.mlsimport-label{
	font-weight: 600;
	display: inline-block;
	float: left;
	width: 100%;
	line-height: 1.6em;
	font-size: 14px;
}

.mls_explanations{
	line-height: 1.6em;
}

.mlsimport-fieldset.mlsfield_map_post_meta,
.mlsimport-fieldset.mlsfield_label{
    margin: 0px;
}

.mlsimport-fieldset select.mlsfield_map_post_tax_select{
    max-width: 200px;
    min-width: 200px;
    padding: 0px 12px
}

input.mlsimport_select_import_all,
input.mlsimport_select_import_admin_all{
	margin-top: 5px;
}

.mlsimport-exp{
	margin: 0px;
	font-size: 14px;
	line-height: 1.6em;
	margin-bottom: 5px;
	max-width: 450px;
}


.mlsimport_hidden_field_button{

}

.mlsimport-input-wrapper{
	clear: both;
}


#mlsimport_mls_name_front{
	border-color: #ccc;
	min-width: 450px;
	padding: 5px 12px;
}




.wp-admin select.mlsimport-select{
    max-width: 450px;
    padding: 5px 12px;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    isolation: isolate;
    border: 1px solid #DCDFE4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    flex: none;
    align-self: stretch;
}
.wp-admin select.mlsimport-select option{
	padding: 3px 0px;
}

.mlsimport_param_wrapper{
	background-color: #f5f5f5;
	padding:20px;
	border-radius: 5px;
}

.postbox .inside .mlsimport_param_wrapper  h2{
	font-size: 20px!important;
	font-weight: 600;
	padding-left: 0px!important;
	padding-bottom: 19px!important;
}


.mlsimport-fieldset-item{
	display: flex;
    flex-direction: column;
}
.mlsimport-fieldset-wrapper{
	display: flex;
	gap:30px;
}

.mlsimport-fieldset{
	margin: 20px 0px;
    position: relative;   
}

.mandatory_fields_wrapper fieldset.mlsimport-fieldset{
	padding: 10px 20px;
	margin: 0px;
}

.mandatory_fields_wrapper .mlsimport-fieldset:nth-child(even){
	background-color: #f7f7f7;
}

.mlsimport_auto_switch{
	margin: 0px;
	padding: 10px;
}

.mls_import_selec_all_class {
	background-color: #cc3459;
	color: #fff;
	display: inline-block;
	padding: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	padding: 7px 14px;
	border-radius:5px;
}

.mls_import_selec_all_class:hover {
	background-color: #a31034;
}

#mlsimport_myProgress_wrapper{
	width:800px;
	margin-top: 10px;
/*    display:none;*/
}

#mlsimport_transfer_stop{
	padding: 7px;
	background: #af3737;
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	cursor: pointer;
}

#mlsimport_myBar{
	width: 0%;
	height: 20px;
	background-color: green;
}

#mlsimport_myProgress_wrapper{
	width:800px;
	margin-top: 10px;
/*    display:none;*/
}

#mlsimport_monster_myProgress {
	width: 100%;
	background-color: #cbc8c8;
}
#mlsimport_transfer_stop{
	display: none;
}

#log_container{
	width: 750px;
	background: #f1f1f1;
	padding: 15px;
	margin-top: 15px;
	max-height: 500px;
	overflow-y: auto;
}


.mlsimport_import_no{
	font-size: 14px;
	max-width: 775px;
	margin-bottom: 10px;
}

#mlsimport_stop_item,
#mlsimport-start_item{
    display: inline-block;
    margin: 0px 10px 30px 0px;
}

.mlsimport_hidden_field_button {
	max-width: 450px;
}
.mlsimport_param_wrapper input{
	max-width: 450px;
}

.cron_job_explainin{
	max-width: 800px;
	margin-top: 5px;
}

.mlsimport_tool_field_item_wrapper{
	margin-bottom: 30px;
}
#mlsimport-disable-history,
#mlsimport-disable-logs{
	margin-top: 10px;
}











/*==WpResidence*/
#property_uploaded_thumb_wrapepr img{
	max-width: 200px;
	max-height: 200px;
}

table.media .column-title .media-icon img {
	width:60px;
}
.mlsimport_notification,
.mlsimport_validated,
.mlsimport_warning{
	background: #cc3459;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}


.mlsimport_populate_warning{
	background: #4f46e5;
	color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}


.mlsimport_validated{
	padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    background-color: rgba(245, 158, 11, 0.1);
    border-left: 4px solid var(--warning-color);
    color: var(--text-primary);
}


.mlsimport_notification{
	background: #a5862b;
}


#mlsimport_item_metaboxes-sectionid .mlsimport_notification{
	background: #a5862b;
	max-width: 500px;
}


#mlsimport_item_status{
	width: auto;
	background-color: #f5f5f5;
	overflow-y: scroll;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 15px;
}


label.mlsimport_switch {
	position: absolute;
	display: inline-block;
	width: 53px!important;
	height: 25px;
	top: 7px;
	left: 205px;
}

.mlsimport_switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.mlsimport_switch  input:checked + .slider {
	background-color: #2196F3;
}

.mlsimport_switch  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.mlsimport_switch  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}




.slider.round {
	border-radius: 25px;
}
.slider.round:before {
	border-radius: 50%;
}


#mlsimport-delete-notification{
	margin-bottom: 10px;
}

#mlsimport-delete-prop{
	margin-top: 15px;
}

.fieldset_mlsimport_tresle_client_id,
.fieldset_mlsimport_tresle_client_secret{
        display:none;
}

.fieldset_mlsimport_connectmls_username,
.fieldset_mlsimport_connectmls_password{
        display:none;
}




.mlsimport_param_wrapper input[type=text]{
	min-width: 450px;
	border-color: #ccc;
	padding: 5px 12px;
}

#mlsimport_item_min_price,
#mlsimport_item_max_price{
	min-width: 210px;
	max-width: 210px;
}


.mlsimport_signup{
	display: inline-block;
	background-color: #f0f0f1;
	border-radius: 5px;
	padding: 20px;
	font-size: 15px;
	margin-bottom: 15px;
}
.mlsimport_signup p{
	font-size: 15px;
}
.mlsimport_signup_button{
	float:left;
	clear:left;
}


/*==WpEstate*/

/*==Houzez*/

.column-thumbnail img {
	max-width: 100%;
	height: auto;
	min-width:
	102px ;
}

/*==RealHomes*/



/*==2025*/

.content-nav-tab{
	display:none;
	padding: 30px 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0px;
}

.content-nav-tab-active{
	display: flex;
}


.content-nav-tab.mlsimport_2025_card{
	width: auto;
}

.mlsimport_2025_card{
	flex-direction: column;
	align-items: center;
	padding: 0px;

	background: #FFFFFF;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06), 0px 5px 22px rgba(0, 0, 0, 0.04);
	border-radius: 10px;
	flex: none;
	order: 0;
	flex-grow: 1;

}

.mlsimport_2025_card_left_oriented{
	flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
}


.nav-tab-wrapper.mlsimport-tab-wrapper{
	border: none;
	padding: 0px 15px;
	margin-top: 50px;
}


.nav-tab-wrapper.mlsimport-tab-wrapper .nav-tab {

    text-transform: uppercase;
    color: #23202c;
    padding: 15px 25px;
    background: #f1f1f1;
    border-top-right-radius:5px;
    border-top-left-radius: 5px;

    padding: 15px 30px;
    background: #fff;
    border: 1px solid #ccc;
}

.nav-tab-wrapper.mlsimport-tab-wrapper .nav-tab.nav-tab-active{
    background-color: #635BFF;
    color: #fff;
}

.content-nav-tab.mlsimport_2025_card form{
	max-width: 500px;
}

.content-nav-tab.mlsimport_2025_card form.mlsimport-import-fields-form{
	max-width: 100%;
}


.mlsimport_2025_card_admin_options  {
    display: flex;
    flex-direction: row;
}

.mlsimport_2025_card_admin_options:empty{
	display: none;
}
.mlsimport-steps{
	font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 74px;
}

.mlsimport-steps ol {
   list-style: none;
   counter-reset: step-counter;
   padding: 0;
}

.mlsimport-steps li {
counter-increment: step-counter;
    position: relative;
    padding-left: 44px;
    margin-bottom: 20px;
    line-height: 27px;
}

.mlsimport-steps li::before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #635bff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}


/*==2025 Inputs*/

input[type=password].mlsimport-input.mlsimport-2025-input,
input[type=text].mlsimport-input.mlsimport-2025-input,
.mlsimport-input.mlsimport-2025-input{
	padding: 5px 12px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	isolation: isolate;
	background: #FFFFFF;
	border: 1px solid #DCDFE4;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	display: inline-flex;
}
.mlsimport-label {
    display: block;
    margin-bottom: 0px;
    font-weight: 500;
    color: var(--text-primary);
}

select.mlsimport-2025-select{
	    padding: 5px 24px 5px 12px;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	isolation: isolate;
	border: 1px solid #DCDFE4;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
	border-radius: 8px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
}

	


.mlsimport-fieldset-wrapper input,
input[type=checkbox].mlsimport_select_import_admin_all,
input[type=checkbox].mlsimport_select_import_all {
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #fff!important;
}


.button.mlsimport_button{
	font-size: 14px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 7px 30px;
	background: linear-gradient(180deg, #635BFF 0%, #4E36F5 100%);
	border: 1px solid #15B79F;
	border-radius: 8px;
	color:#fff;
	flex: none;
	order: 1;
	flex-grow: 0;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgb(78, 54, 245) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset;
}

.button.mlsimport_button:hover {
	background: linear-gradient(180deg, #635BFF 0%, #4E36F5 100%);
	color:#fff;
	border: 1px solid #15B79F;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px #4e36f5,inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16) , inset 0px 6px 10px 0px rgba(255, 255, 255, 0.10);
}

.button.save_data {
    background: linear-gradient(180deg, var(--success-color) 0%, #0C8A61 100%);
    border: 1px solid var(--success-color);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, var(--success-color) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset;
}

.button.save_data:hover {
    background: linear-gradient(180deg, var(--success-color) 0%, #0C8A61 100%);
    border: 1px solid var(--success-color);
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px var(--success-color), inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 6px 10px 0px rgba(255, 255, 255, 0.10);
}


.button.secondary {
	background: linear-gradient(180deg, #32383e 0%, #25292e 100%);
	border: 1px solid #32383e;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgb(50, 56, 62) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset;
 }
 
 .button.secondary:hover {
	background: linear-gradient(180deg, #32383e 0%, #25292e 100%);
	border: 1px solid #32383e;
	color: #fff;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px #32383e, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 6px 10px 0px rgba(255, 255, 255, 0.10);
 }



 .button.warning_action {
	background: linear-gradient(180deg, #fb9c0c 0%, #d0810a 100%);
	border: 1px solid #fb9c0c;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, #fb9c0c 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset;
 }
 
 .button.warning_action:hover {
	background: linear-gradient(180deg, #fb9c0c 0%, #d0810a 100%);
	border: 1px solid #fb9c0c;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px #fb9c0c, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 6px 10px 0px rgba(255, 255, 255, 0.10);
 }


 .button.error_action {
	background: linear-gradient(180deg, #bb241a 0%, #9b1e16 100%);
	border: 1px solid #bb241a;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, #bb241a 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.16) 0px 2px 0px 0px inset;
 }
 
 .button.error_action:hover {
	background: linear-gradient(180deg, #bb241a 0%, #9b1e16 100%);
	border: 1px solid #bb241a;
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px #bb241a, inset 0px 2px 0px 0px rgba(255, 255, 255, 0.16), inset 0px 6px 10px 0px rgba(255, 255, 255, 0.10);
 }






#mlsimport_item_how_many{
	max-width: 450px;
}






 input[type=checkbox].mlsimport-import-checkbox,
 input[type=checkbox].mlsimport-admin-checkbox {
	 appearance: none;
	 -webkit-appearance: none;
	 background: transparent;
	 border: none;
	 box-shadow: none;
	 width: 24px;
	 height: 24px;
	 position: relative;
	 display: inline-block;
	 vertical-align: middle;
 }
 
 input[type=checkbox].mlsimport-import-checkbox:before,
 input[type=checkbox].mlsimport-admin-checkbox:before {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 24px;
	 height: 24px;
	 background-image: url("data:image/svg+xml;utf8,<svg fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path clip-rule='evenodd' d='M8 2C4.68629 2 2 4.68629 2 8V16C2 19.3137 4.68629 22 8 22H16C19.3137 22 22 19.3137 22 16V8C22 4.68629 19.3137 2 16 2H8ZM8 4C5.79086 4 4 5.79086 4 8V16C4 18.2091 5.79086 20 8 20H16C18.2091 20 20 18.2091 20 16V8C20 5.79086 18.2091 4 16 4H8Z' fill='%23DCDFE4' fill-rule='evenodd'></path></svg>");
	 background-size: 24px 24px;
	 background-position: center;
	 background-repeat: no-repeat;
	 margin: 0px;
 }
 
 input[type=checkbox].mlsimport-import-checkbox:checked:before,
 input[type=checkbox].mlsimport-admin-checkbox:checked:before {
	 background-image: url("data:image/svg+xml;utf8,<svg fill='none' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><rect fill='%23635bff' height='20' rx='6' width='20' x='2' y='2'></rect><path d='M7.55566 11.7222L10.5186 14.7778L16.4446 8.66669' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'></path></svg>");
 }



/* Initial save progress overlay */
.mlsimport-save-progress {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    /* border: 1px solid #ddd; */
    box-shadow: 0 7px 54px rgba(0, 0, 0, 0.15);
    width: 500px;
    min-height: 200px;
    text-align: center;
    font-size: 17px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    line-height: 1.8em;
}

.mlsimport-save-progress-text {
        margin-bottom: 10px;
}

.mlsimport-save-progress-bar {
        height: 10px;
        background: #eee;
        margin-top: 5px;
        border-radius: 5px;
        overflow: hidden;
}

.mlsimport-save-progress-bar .progress-fill {
        width: 0%;
        height: 100%;
        background: #635BFF;
        border-radius: 5px;
        transition: width 0.3s;
}